html {
  max-width: 1400px;
  margin: auto; }

.carousel .carousel-item {
  height: 600px; }

.carousel-item img {
  height: 600px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px; }

#spaRoomsH3,
#spaLocationH3 {
  margin: 40px 16px; }

.my-rooms-container .my-rooms-row .my-rooms-col {
  display: flex;
  justify-content: center;
  padding: 5px; }
  .my-rooms-container .my-rooms-row .my-rooms-col figure {
    width: 167px;
    height: 200px; }
    .my-rooms-container .my-rooms-row .my-rooms-col figure img {
      width: 100%; }

.spaLink1 {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey; }

.spaLink2 {
  border-bottom: grey 1px solid; }

.spaLink1,
.spaLink2 {
  padding: 20px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .spaLink1 a,
  .spaLink2 a {
    float: left;
    text-decoration: none; }
  .spaLink1 img,
  .spaLink2 img {
    width: 10px;
    height: 10px;
    float: right; }

.locationsDiv {
  display: flex;
  flex-direction: row; }
  .locationsDiv a {
    align-self: flex-end;
    padding-bottom: 40px; }

.spaLocationsCards {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .spaLocationsCards .my-location-card {
    margin-bottom: 25px; }

.spaPanel {
  width: 100vw;
  height: 40vh;
  background-image: url(/images/spaPanel.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .spaPanel h4 {
    color: white; }
  .spaPanel p {
    color: white; }

footer {
  margin-top: 40px; }
  footer .logoFooter {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .logoFooter figure {
      width: 150px;
      height: 150px; }
      footer .logoFooter figure img {
        width: 100%; }
  footer .footer-container .row .my-footer-col {
    text-align: center; }
    footer .footer-container .row .my-footer-col p {
      font-size: 1.2rem;
      color: blue; }
  footer p {
    text-align: center; }

.footer-container-2 .row .col p {
  color: blue;
  font-size: 0.8rem;
  margin: 0px 10px 10px; }

@media only screen and (min-width: 768px) {
  .spaLocationsCards {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .spaLocationsCards .my-location-card {
      margin: 20px 10px; } }
.spaPanel {
  width: 100vw;
  height: 40vh;
  background-image: url(/images/spaPanel.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 16px; }
  .spaPanel h4 {
    color: white;
    font-size: 3rem;
    font-weight: 100; }
  .spaPanel p {
    color: white;
    font-weight: 100; }
  .spaPanel button {
    padding: 7px 45px; }

@media only screen and (min-width: 1080px) {
  .spaLinks {
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .spaLink1 {
    border-top: none;
    border-bottom: none; }

  .spaLink2 {
    border-bottom: none; }

  .spaLink1,
  .spaLink2 {
    padding: 20px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .spaLink1 a,
    .spaLink2 a {
      float: left;
      text-decoration: none;
      font-size: 1.3rem; }
    .spaLink1 img,
    .spaLink2 img {
      width: 10px;
      height: 10px;
      float: right;
      padding-right: 30px; } }
header {
  background-image: url(https://www.fontainebleau.com/fontainebleau/908/21/hp-hero-01.jpg);
  background-size: cover;
  height: 400px;
  width: 100vw; }
  header .headerInfo .row {
    height: 400px; }
    header .headerInfo .row .my-col-about-header {
      text-align: center;
      color: white; }

.aboutHead {
  display: flex;
  flex-direction: row; }
  .aboutHead img {
    height: 100px;
    width: 100px; }
  .aboutHead h2 {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 100;
    padding-top: 5px; }

.aboutP {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 37px; }

.my-container-about-cards .my-row-about-cards .my-about-cards-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px; }

.my-card {
  height: 282px; }

.contactHeader {
  background-image: url(https://images.unsplash.com/photo-1544161515-4ab6ce6db874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  height: 400px;
  width: 100vw; }
  .contactHeader .headerInfo .row {
    height: 400px; }
    .contactHeader .headerInfo .row .my-col-about-header {
      text-align: center;
      color: black; }

.contactFormH3 {
  margin-left: 16px;
  display: flex;
  flex-direction: row; }
  .contactFormH3 img {
    width: 100px;
    height: 100px; }
  .contactFormH3 h3 {
    align-self: center;
    font-size: 1.3rem;
    font-weight: 100; }

.contactP {
  margin-left: 16px;
  margin-right: 16px; }

form {
  margin-left: 16px;
  margin-right: 16px; }

/*# sourceMappingURL=styles.css.map */
