// ------VARIABLES -----//
$gutter: 16px;

html {
  max-width: 1400px;
  margin: auto;
}

// ------CAROUSEL -----//
.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
  height: 600px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

// ------ ROOMS -----//
#spaRoomsH3,
#spaLocationH3 {
  margin: 40px $gutter;
}
.my-rooms-container {
  .my-rooms-row {
    .my-rooms-col {
      display: flex;
      justify-content: center;
      padding: 5px;
      figure {
        width: 167px;
        height: 200px;
        img {
          width: 100%;
        }
      }
    }
  }
}

// ------ SPA LINKS -----//
.spaLink1 {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.spaLink2 {
    border-bottom: grey 1px solid;
}
.spaLink1,
.spaLink2 {
  padding: 20px $gutter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a {
    float: left;
    text-decoration: none;
  }
  img {
    width: 10px;
    height: 10px;
    float: right;
  }
}

// ------ SPA LOCATIONS -----//
.locationsDiv {
  display: flex;
  flex-direction: row;
  a {
    align-self: flex-end;
    padding-bottom: 40px;
  }
}

.spaLocationsCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  .my-location-card {
    margin-bottom: 25px;
  }
}

// ------ SPA PANEL -----//
.spaPanel {
  width: 100vw;
  height: 40vh;
  background-image: url(/images/spaPanel.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    color: white;
  }
  p {
    color: white;
  }
}

// ------ FOOTER -----//
footer {
    margin-top: 40px;
  .logoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    figure {
      width: 150px;
      height: 150px;
      img {
        width: 100%;
      }
    }
  }
  .footer-container {
    .row {
      .my-footer-col {
        text-align: center;
        p {
          font-size: 1.2rem;
          color: blue;
        }
      }
    }
  }
  p {
    text-align: center;
  }
}
.footer-container-2 {
  .row {
    .col {
      p {
        color: blue;
        font-size: 0.8rem;
        margin: 0px 10px 10px;
      }
    }
  }
}

// ------ MEDIA QUERIES FOR MEDIUM-----//

// ------ Spa Locations-----//
@media only screen and (min-width: 768px) {
  .spaLocationsCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .my-location-card {
      margin: 20px 10px;
    }
  }
}

// ------ Spa Panel-----//
.spaPanel {
  width: 100vw;
  height: 40vh;
  background-image: url(/images/spaPanel.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: $gutter;
  h4 {
    color: white;
    font-size: 3rem;
    font-weight: 100;
  }
  p {
    color: white;
    font-weight: 100;
  }
  button {
    padding: 7px 45px;
  }
}

// ------ MEDIA QUERIES FOR LARGE-----//
@media only screen and (min-width: 1080px) {
  // ------ Spa Links -----//
  .spaLinks {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
.spaLink1 {
    border-top: none;
    border-bottom: none;
}
.spaLink2 {
    border-bottom: none;
}
  .spaLink1,
  .spaLink2 {
    padding: 20px $gutter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      float: left;
      text-decoration: none;
      font-size: 1.3rem;
    }
    img {
      width: 10px;
      height: 10px;
      float: right;
      padding-right: 30px;
    }
  }
}









// -------------- ABOUT PAGE --------------//

header {
  background-image: url(https://www.fontainebleau.com/fontainebleau/908/21/hp-hero-01.jpg);
  background-size: cover;
  height: 400px;
  width: 100vw;
  .headerInfo { 
    .row {
      height: 400px;
      .my-col-about-header {
        text-align: center;
        color: white;
      }
    }
  }
}

.aboutHead {
  display: flex;
  flex-direction: row;

  img {
    height: 100px;
    width: 100px;
  }
  h2 {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 100;
    padding-top: 5px;
  }
}

.aboutP {
  margin-left: $gutter;
  margin-right: $gutter;
  margin-bottom: 37px;
}


.my-container-about-cards {
  .my-row-about-cards {
    .my-about-cards-col {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 15px;
    }
  }
}
.my-card {
  height: 282px;
}


// -------------- CONTACT US PAGE --------------//

// -------------- Header --------------//

.contactHeader {
  background-image: url(https://images.unsplash.com/photo-1544161515-4ab6ce6db874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  height: 400px;
  width: 100vw;
  .headerInfo { 
    .row {
      height: 400px;
      .my-col-about-header {
        text-align: center;
        color: black;
      }
    }
  }
}

// -------------- Form --------------//
.contactFormH3 {
 margin-left: $gutter;
 display: flex;
 flex-direction: row; 
 img {
   width: 100px;
   height: 100px;
 }
 h3 {
   align-self: center;
   font-size: 1.3rem;
   font-weight: 100;
 }
}

.contactP {
  margin-left: $gutter;
}

form {
  margin-left: $gutter;
}
