// ------VARIABLES -----//
$gutter: 16px;

html {
    max-width: 1400px;
    margin: auto;
}


// ------CAROUSEL -----//
.carousel .carousel-item {
    height: 600px;
  }
  
  .carousel-item img {
      height: 600px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

  // ------ ROOMS -----//
#spaRoomsH2 {
    margin: 40px $gutter;
}
.my-rooms-container {
    .my-rooms-row {
        border: 2px solid red;
        .my-rooms-col {
            border: 1px dotted blue;
            display: flex;
            justify-content: center;
            padding: 5px;
            figure {
                width: 167px;
                height: 200px;
                img {
                    width: 100%;
                }
            }
        }
    }
}


  // ------ SPA LINKS -----//
.spaLink1, .spaLink2 {
    padding: 20px $gutter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
        float: left;
        text-decoration: none;
    }
    img {
        width: 10px;
        height: 10px;
        float: right;
    }
}